<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>MovieDB</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="MovieDB.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" async></script>
    <!-- HEADER -->   
    </head>    
    <body class="bg-dark">
        <div class="container">
        <div th:replace="fragments/header :: header">
            
        </div>
        <!-- END HEADER -->   

        
        
        <div class =" bg-blue mt-4 pb-4 mb-4">
            <div class="row p-0 m-0">
                <h1 class="text-light font-weight-bold p-2 ms-4">Cast Member Info</h1>
                <div class=" pt-2 bg-lightblue"></div>
            </div>
            
            <div class="row bg-lightblue m-4 p-2  rounded-3 ">
            <div class ="row col-12">
                 <div class ="col-12">
                <form id="deleteForm" action="removeCastMember" method="POST">
                        <input name='id' th:value="${castMember.id}"type="hidden">
                    </form>
                    <div class="row float-end mt-2 mr-4">
                        <div class="col-auto p-0">
                            <a href="#" th:href="@{/editCastMember(id=${castMember.id})}">
                                <span class="material-icons"><button class="btn btn-success btn-sm">edit</button></span>
                            </a>
                        </div>
                        <div class="col-auto">
                            <span class="material-icons"><button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">clear</button></span>                                
                        </div>
                    </div>
                 </div>
                <div  class="castDiv row col-12 ">
                    <div class="row col-4 text-center"> 
                        <div>
                            <img th:src="${castMember.imageUrl}" class="castImage img-fluid mb-4" alt="Cast Image">
                            <div class="col-auto text-start">
                                <span class="text-light"> Movies </span>
                                <ul>
                                    <li th:each="movie:  ${movies}" class="text-light text-bold" >
                                    <a class="text-warning text-bold " th:text="${movie.title}" th:href="@{/movieInfo(id=${movie.id})}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                            
                        
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <h3 th:text="${castMember.name}" class="castName text-warning text-bold">Name</h3>
                            <p th:text="${castMember.bioFull}" class="castBio text-light">Bio</p>
                        </div>
                        <div class=" pt-1 bg-light"></div>
                        <div class ="row mt-2 mb-2">
                            <div class ="col-2">
                                <div class="text-light">Birthdate</div>
                                <div class="text-light">Birthplace</div>
                            </div>
                            <div class ="col-10">
                                <div>
                                    <p th:text="${#temporals.format(castMember.birthdate, 'MMM d, yyyy')}" class="castBirthdate text-light m-0 ms-2"></p>
                                </div>
                                <div>
                                    <p th:text="${castMember.birthplace}" class="castBirthplace text-light m-0 ms-2"></p>
                                </div>
                            </div>
                        </div>
                        <div class=" pt-1 bg-light"></div>
                        
                    </div>
                </div>
            </div>
            </div>
            
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Cast Member</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this cast member?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="deleteForm" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </body>
</html>
